html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Saira Semi Condensed', sans-serif;
    background: url(../img/turquoise-texture-background.jpg);
    background-size: contain;
}
div#app {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
}
div#app > div.row {
    height: 100%;
}
div#loading {
    height: 100%;
    padding-top: 3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: #4c97bf;
}
div.loading-circle{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #4c97bf;
  box-shadow: 60px -60px 0 2px #4c97bf, -60px -60px 0 2px #4c97bf, -60px 60px 0 2px #4c97bf, 60px 60px 0 2px #4c97bf, 0 0 0 2px #E94E3D;
  animation: border .6s linear 100 forwards;
}
div.loading-text{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 18px sans-serif;
    transition: opacity .2s ease;
    margin-top: 50px;
  }
@keyframes border{
  0% {
    box-shadow: 60px -60px 0 2px #4c97bf, -60px -60px 0 2px #4c97bf, -60px 60px 0 2px #4c97bf, 60px 60px 0 2px #4c97bf, 0 0 0 2px #E94E3D;
  }
  25% {
    box-shadow: 0 -125px 0 2px #4c97bf, -60px -60px 0 2px #4c97bf, -60px 60px 0 2px #4c97bf, 60px 60px 0 2px #4c97bf, 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -125px 0 2px #4c97bf, -125px 0px 0 2px #4c97bf, -60px 60px 0 2px #4c97bf, 60px 60px 0 2px #4c97bf, 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -125px 0 2px #4c97bf, -125px 0px 0 2px #4c97bf, 0px 125px 0 2px #4c97bf, 60px 60px 0 2px #4c97bf, 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -125px 0 2px #4c97bf, -125px 0px 0 2px #4c97bf, 0px 125px 0 2px #4c97bf, 120px 40px 0 2px #4c97bf, 0 0 0 2px #fff;
  }
}
div#app-logo {
    font-family: logo-uk;
    font-size: 140%;
    text-align: center;
    padding: 1rem 0rem;
    height: 5rem;
    margin-bottom: .3rem;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.58);
}
div#app-logo>span {
    font-family: logo-2;
    font-weight: 800;
    position: relative;
    top: .3rem;
    left: -.1rem;
    text-shadow: 0px 0px 21px rgba(255, 255, 255, 1)
}
div.app-div-margins {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
button.app-button {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1.5rem;
    background-color: #e5986e;
    overflow: hidden;
}
input.app-input {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
div#app-score {
    font-size: 2rem;
    height: 3rem;
    text-align: center;
    margin-bottom: .5rem;
}
button.app-set-button {
    font-family: 'Tahoma', monospace;
    font-size: 2.5rem;
    background-color: #ea8148;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
div#app-set-div {
    margin-top: .5rem;
}
div#app-set-div>div {
    display: flex;
    justify-content: center;
}
input.app-input-id {
    width: 14%;
    clear: left;
    float: left;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
input.app-input-name {
    width: 86%;
    float: left;
    padding-left: .5rem;
}
div.app-div-scrollbar {
    position: absolute;
    height: 75%;
    overflow: auto;
}
div.app-div-scrollbar2 {
    position: absolute;
    height: 87%;
    overflow: auto;
}
div.app-div-underscrollbar {
    position: absolute;
    bottom: 0;
}
input.app-input-check {
    width: 10%;
    clear: left;
    float: left;
    height: 2.5rem;
    margin-right: 3%;
}
input.app-input-id-aftercheck {
    width: 14%;
    float: left;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
input.app-input-name-aftercheck {
    width: 73%;
    float: left;
    padding-left: .5rem;
}
select.app-select {
    width: 100%;
    height: 3rem;
    margin-bottom: .5rem;
}
button.app-score-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: #e5986e;
    padding: 0;
}
button.app-score-button>i {
    position: relative;
    top: .1rem;
}
button.app-score-left {
    margin-right: .5rem;
    margin-bottom: .5rem;
}
button.app-score-right {
    margin-left: .5rem;
    margin-bottom: .5rem;
}
input.score {
    padding-left: .5rem;
    padding-right: .5rem;
}
i.app-fa {
    color: black;
    margin-right: .75rem;
}
i.app-fa-menu {
    color: black;
    margin-right: .75rem;

}
button.app-button-inline {
    width: 47%;
    margin-top: .5rem;
    padding: .5rem 0rem;
}
button.playerNumberIcone {
    text-align: center;
    border: 0;
    width: 2.3rem;
    height: 2rem;
    color: white;
    background: url(../img/t-shirt.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: .5rem;
    font-family: 'Saira Semi Condensed', sans-serif;
    padding-left: 0;
    padding-right: 0;
}
i.mark-fa {
    font-size: 120%;
    position: relative;
    top: 2px;
}
i.perfect {
    color: green;
}
i.good {
    color: mediumblue;
}
i.neutral {
    color: silver;
}
i.negative {
    color: black;
}
i.error {
    color: red;
}
div.set-field {
    background-color: #e5986e;
}
div.set-net {
    background-color: white;
    width: 100%;
    height: 1rem;
}
div.set-opponent {
    background-color: #e5986e;
    width: 100%;
    height: 2rem;
    margin: .5rem 0;
}
div.stats {
    background-color: white;
    padding: 3px 5px;
    padding-bottom: 6px;
    margin-bottom: 4px;
}
hr.stats-small {
    margin-top: .1rem;
    margin-bottom: .1rem;
    border-width: 1px;
    background-color: #cccccc;
}
table.stats {
    width: 100%;
    border-collapse: collapse;
}
tr.stats>td {
    border: 2px solid #cccccc;
    text-align: center;
    padding: .5rem;
}
